* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.edit-user-modal-background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

div.edit-user-modal {
  width: 750px;
  height: 650px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: white;
  border-radius: 8px;
  overflow-y: scroll;
}

div.edit-user-header {
  position: sticky;
  top: 0%;
  left: 0%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 12px 16px 24px;
  border-bottom: 1px solid lightgray;
}

div.edit-user-header div#words {
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

div.edit-user-header div#close-button {
  display: flex;
  align-items: center;
}

div.edit-user-header div#close-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}

div.edit-user-header div#close-button button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.edit-user-header div:last-child button > img {
  max-width: 16px;
  height: auto
}

div.required {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 8px 24px 8px 24px;
}

div.edit-user-input-container {
  display: flex;
  flex-direction: column;
  padding: 8px 24px 8px 24px;
}

div.edit-user-input-container div:first-child {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

div.edit-user-input {
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 685px;
  height: fit-content;
  min-height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.edit-user-input input {
  width: 660px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  outline: none;
}

div.edit-user-input textarea {
  width: 660px;
  border: none;
  height: fit-content;
  text-decoration: none;
  outline: none;
  resize: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  overflow-y: auto;
  margin: 8px 0 8px 0;
}

div#submit-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  padding: 8px 24px 16px 24px;
}

div#submit-button button {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  border-radius: 16px;
  border: none;
  background-color: rgb(10, 102, 194);
  cursor: pointer;
}

div#submit-button button:hover {
  background-color: rgb(7, 72, 138);
}