.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar > input {
  background-color: rgb(238, 243, 248);
  outline: none;
  border: none;
  border-radius: 3px;
  height: 28px;
  width: 280px;
  padding: 6px 6px 6px 6px;
  font-size: 14px;
  line-height: 28px;
}