* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pending-index-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 675px;
  max-height: 100px;
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

.pending-index-item:last-child {
  border-bottom: none;
}

.pending-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pending-image {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}

.pending-image img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.pending-titles {
  margin-left: 8px;
}

.pending-titles > a {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.pending-titles > a:hover {
  text-decoration: underline;
}

.pending-titles > div {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 14px;
}

.pending-buttons button:first-child {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 8px 6px 8px;
  margin-right: 8px;
  text-align: center;
}

.pending-buttons button:first-child:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
}

.pending-buttons button:last-child {
  color: rgb(10, 102, 194);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 18px;
  border: 1px solid rgb(10, 102, 194);
  background-color: transparent;
  padding: 6px 16px 6px 16px;
  cursor: pointer;
  text-align: center;
}

.pending-buttons button:last-child:hover {
  padding: 5px 15px 5px 15px;
  border: 2px solid rgb(10, 102, 205);
  background-color: rgb(214, 224, 235);
}