div.signup-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgb(240, 240, 240);
}

div.signup-navbar a img {
  height: 55px;
  width: auto;
}