div.profile-picture-modal {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

div.profile-picture-modal div.header {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

div.profile-picture-modal div.header button {
  text-decoration: none;
  border: none;
  text-align: center;
}

div.profile-picture-modal div.header button img {
  background-color: lightgreen;
}

