div.profile-picture-modal {
  // visibility: hidden;
  width: 750px;
  height: 475px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  // background: rgba(0, 0, 0, 0.7);
  background: rgb(29, 34, 38);
  border-radius: 12px;
  padding: 24px;
}

div.profile-picture-modal div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
}

div.profile-picture-modal div.header button {
  text-decoration: none;
  border: none;
  align-items: center;
  cursor: pointer;
  padding: 7px 7px 5px 7px;
  border-radius: 50%;
  background-color: rgb(29, 34, 38);
}

div.profile-picture-modal div.header button img {
  max-width: 16px;
  height: auto;
  filter: invert(1);
}

div.profile-picture-modal div.header button:hover {
  background-color: rgb(71, 70, 70);
}

div.current-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.current-image img {
  max-width: 280px;
  height: 280px;
  border-radius: 50%;
}

div.edit-delete {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

div.edit-delete > div:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div#delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#delete button {
  text-decoration: none;
  border: none;
  align-items: center;
  cursor: pointer;
  padding: 16px 8px 16px 8px;
  border-radius: 8px;
  background-color: rgb(29, 34, 38);
}

div#delete button:hover {
  background: rgb(71, 70, 70);
}

div#delete img {
  max-width: 25px;
  height: auto;
  filter: invert(1);
}

div#delete button > div {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

div#upload-button {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 34, 38);
  padding: 8px 8px 16px 8px;
  border-radius: 8px;
  cursor: pointer;
}

div#upload-button:hover {
  background-color: rgb(71, 70, 70);
}

div#upload-button label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

div#upload-button label img {
  max-width: 40px;
  filter: invert(1);
}

div#upload-button label {
  color: rgba(255, 255, 255, 0.9);
}

div#upload-button input[type=file] {
  display: none;
}


div#submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#submit-button button {
  text-decoration: none;
  border: none;
  align-items: center;
  cursor: pointer;
  padding: 16px 8px 16px 8px;
  border-radius: 8px;
  background-color: rgb(29, 34, 38);
}

div#submit-button button:hover {
  background: rgb(71, 70, 70);
}

div#submit-button img {
  max-width: 25px;
  height: auto;
  filter: invert(1);
}

div#submit-button button > div {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}