* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.profile-middle-1 {
  border: 1px solid lightgray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.profile-picture {
  background-color: lightgray;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 25px;
}

div.profile-picture img {
  margin: auto;
  display: block;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  cursor: pointer;
}


div.edit-background-image {
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 15px;
}

div.edit-background-image img {
  margin: auto;
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 10px;
}

div.profile-background-image {
  margin-bottom: 65px;
}

div.profile-background-image img {
  // background-image: url("profile-background-image.jpg");
  max-width: 782px;
  max-height: 190px;
  background-repeat: no-repeat;
  // border-top-left-radius: 8px;
  // border-top-right-radius: 8px;
}