* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.whole-feed-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(240, 240, 240);
}
