div.name-pronouns-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.name-pronouns-page div.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// div.name-pronouns-page div.form