* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.signup-form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}

div.signup-form-header {
  color: black;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 24px;
}

div.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: min-content;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 24px 6px 24px 6px;
  margin-bottom: 24px;
  background-color: white;
}

div.signup-input-container {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 0;
}

div.signup-input-container div:first-child {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 2px;
}

div.signup-input {
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 352px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.signup-input input {
  width: 325px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  outline: none;
}

div.signup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.signup-buttons > button {
  margin-top: 24px;
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  width: 350px;
  height: 50px;
  border-radius: 24px;
  cursor: pointer;
}

div.signup-buttons > input {
  margin-top: 24px;
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  width: 350px;
  height: 50px;
  border-radius: 24px;
  cursor: pointer;
}

div.signup-buttons > button:hover {
  background-color: rgb(14, 89, 163);
}

div.signup-buttons > input:hover {
  background-color: rgb(14, 89, 163);
}

div#signup-message {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div#signup-message a {
  text-decoration: none;
  color: rgb(10, 102, 194);
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  padding-left: 8px;
}

div#signup-message a:hover {
  text-decoration: underline;
}

div.signup-form-page div.image-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: black;
  overflow: hidden;
}

div.signup-form-page div.image-preview img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

div.signup-form-page div.image-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.image-buttons div.remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

div.image-buttons div.remove-button button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 24px;
  cursor: pointer;
  padding: 5px 8px 5px 8px;
  background-color: transparent;
}

div.image-buttons div.remove-button button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


div.image-buttons div.remove-button button img {
  max-width: 35px;
  max-height: 35px;
  width: auto;
  height: auto;
  padding-right: 8px;
}

div.signup-form-page label.image-input {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 8px 5px 8px;
  margin-top: 24px;
  margin-bottom: 16px;
  border-radius: 4px;
}

div.signup-form-page label.image-input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.signup-form-page label.image-input img {
  max-width: 35px;
  max-height: 35px;
  height: auto;
  width: auto;
  padding-right: 8px;
  color: rgba(0, 0, 0, 0.6);
}


div.signup-form-page label.image-input input {
  display: none;
}

div.signup-form-page textarea {
  color: black;
  font-size: 16px;
  font-weight: 400px;
  width: 405px;
  border: none;
  outline: none;
  align-self: center;
  resize: none;
  background-color: inherit;
}